<br>
<div style="text-align: right; padding-right: 15px;">
  This is not your location?<br><button (click)="getWeatherUsingGPS()">Check using your browser's location</button>
</div>

<br>
<div class="text-center">
  <img src="{{ weatherData?.icon }}" alt="Weather Condition" />
</div>

<div layout="row">
  <div flex="100" class="text-center" layout="column">
    <span style="font-family: 'Droid Sans', sans-serif; font-size: 100pt">{{ weatherData?.temp }} &#8451;</span>
    <div class="info" style="font-family: 'Fira Sans Condensed', sans-serif; font-size: 30pt"><b>{{ weatherData?.location }}</b> </div>
    <div class="info" style="font-family: 'Fjalla One', sans-serif; font-size: 20pt"><b>{{ weatherData?.date }}</b> </div>
    <div class="info" style="font-family: 'Fjalla One', sans-serif; font-size: 20pt"> <b>{{ weatherData?.weatherDesc }}</b> </div>
  </div>
</div>
<br>
<div layout="row">
  <div flex="16" class="text-center" layout="column">
    <i class="pe-is-w-mostly-cloudy-2 pe-2x" title="Cloud Cover"></i><br>
    {{ weatherData?.cloudcover }}
  </div>
  <div flex="16" class="text-center" layout="column">
    <i class="pe-is-w-thermometer-4 pe-2x" title="Temp. Min."></i><br>
    {{ weatherData?.tempMinC }} &#8451;
  </div>
  <div flex="16" class="text-center" layout="column">
    <i class="pe-is-w-thermometer-1 pe-2x" title="Temp. Max."></i><br>
    {{ weatherData?.tempMaxC }} &#8451;
  </div>
  <div flex="16" class="text-center" layout="column">
    <i class="pe-is-w-drop-percentage pe-2x" title="Humidity"></i><br>
    {{ weatherData?.humidity }} %
  </div>
  <div flex="16" class="text-center" layout="column">
    <i class="pe-is-w-wind-2 pe-2x" title="Wind Direction"></i><br>
    {{ weatherData?.winddir16Point }}
  </div>
  <div flex="16" class="text-center" layout="column">
    <i class="pe-is-w-wind-cone pe-2x" title="Wind Speed"></i><br>
    {{ weatherData?.windspeed }} Kmph
  </div>
</div>
<br>