<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Paul Rojas - Senior Fullstack Web Developer</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
    <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
    <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>    
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="60">
      <md-card>
        <md-card-title>Weather Historic Data</md-card-title>
        <!--md-card-subtitle>usage stats for our products</md-card-subtitle-->
        <md-divider></md-divider>
        
        <app-weather-history></app-weather-history>
      </md-card>
    </div>
    <div flex-gt-sm="40">
      <md-card>
        <md-card-title>Weather Info</md-card-title>
        <!--md-card-subtitle>Here you'll see your </md-card-subtitle-->
        <md-divider></md-divider>
        <app-weather [myLocation]="currentLocation"></app-weather>
        <md-divider></md-divider>
        <md-card-actions>
          <a md-button color="accent" class="text-upper" [routerLink]="['/logs']">
            <span>View More</span>
          </a>
        </md-card-actions>
      </md-card>
      <md-card id="dashboard-favorites-card" class="push-top">
        <md-card-title>Favorites</md-card-title>
        <md-card-subtitle>Your favorite products</md-card-subtitle>
        <md-divider></md-divider>

        <md-divider></md-divider>
        <md-card-actions>
          <a md-button color="accent" class="text-upper" [routerLink]="['/product']">
            <span>View More</span>
          </a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2017 Paul Rojas. All rights reserved</span>
      <span flex></span>
    </div>
  </td-layout-footer>
</td-layout-nav>
